$heading_text : Triforce;
$subheading_text : CC;
$body_text : Z3;

$link_green : #00cc00;
$link_green_dark : #003D00;
$triforce_yellow : #FFBC00;
$triforce_shadow : #FF8C00;
$blue_ring : #9290ff;
$red_ring : #b3321c;
$octorok_blue : #1412a7;
$octorok_red : #ff3500;
$hyrule_earth : #ffe3ab;
$link_brown : #e5610f;
$ganon_gray : #adadad;
$ganon_gray_dark : #666;
$bomb_blue : #4240fb;

