@import 'globals';
@import 'triforce';

body {
  font-family: $body_text;
  font-size: 24px;
  background: $link_green_dark;
  color: $ganon_gray;
}

p {
  margin-bottom: 20px;
}

a {
	color: $blue_ring;
	&:hover {
		color: $red_ring;
	}
}

figure {
  margin: 20px auto;
  width: 250px;
}

figcaption {
  font-size: 11px;
  font-style: italic;
  color: #333;
}

h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 10px 0;
  padding: 0;
  font-family: $heading_text;
  line-height: 1.2;
  color : $hyrule_earth;
}

header {
  padding-left: 210px;
  min-height: 133px;
  background: url("../images/H4H.jpg") top left no-repeat transparent;
  background-size: 200px 133px;
  margin-bottom: 40px;
  h1 {
	  font-size: 95px; 
	  line-height: 1;
	  margin: 10px 0 0;
	  padding-top: 20px;
	  color: $triforce_yellow;
	  text-shadow: 3px 2px 0 $triforce_shadow;
  }
  h2 {
    font-family: $subheading_text;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
  }
}

dd {
	background: url("../images/scroll.jpg") repeat;
	color: #fff;
	padding: 10px;
	width: 400px;
	margin: 0 0 30px 0;
	&.p1 {
		float: right;
		clear: right;
	}
	&.p2 {
	  float: left;
	  clear: left;
	}
}

dt {
  width: 90px;
  position: relative;
  text-align: center;
  margin: 0 0 30px 0;
	&.p1 {
	  float: left;
	  clear: both;
	  text-align: right;
	}
	
	&.p2 {
	  float: right;
	  clear: both;
	  text-align: left;
	}
	
	img {
	  margin: 0 auto;
	  display: block;
	}
	
	span {
		text-align: center;
		display: block;
		color: $triforce_yellow;
	}
}

footer {
	margin-top: 40px;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.body {
  width: 760px;
  float: left;
  margin: 0 40px 40px 0;
}
.sidebar {
  width: 400px;
  float: right;
}

.conversation {
  border: 1px solid #000;
  padding: 10px;
  width: 510px;
  margin: 20px;
  background-color: $link_brown;
}

.copyright {
  font-family: $heading_text;
  text-align: center;
  display: block;
  color: $triforce_yellow;
  font-size: 16px;
}

.heart {
	color: $octorok_red;
	text-shadow: 2px 0px 0px #fff;
}

.ad {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  margin: 0 0 20px 0;
  font-size: 18px;
  h1 {
 	 font-size: 24px;
  }
  &.tshirt {
  	background-color: $red_ring;
  	h1 {
		color: $link_brown;
	}
	span {
		color: $link_brown;
	}
	p {
		color: $link_brown;
	}
	img {
		width: 250px;
	}
	figcaption {
		width: 250px;
	}
  }
  &.bumper {
  	background-color: $blue_ring;
  	p {
		color: #fff;
	}
	
	h1 {
		color: $triforce_yellow;
	}
	
	ul {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}
	
	img {
	  width: 300px;
	}
  }
  &.newsletter {
  	background-color: $hyrule_earth;
	h1 {
		color: $red_ring;
	}
	
	p {
		color: $link_green;
	}
	
	form {
		color: $red_ring;
		font-family: $heading_text;
		font-size: 15px;
	}
	
	input {
		width: 280px;
		border: 1px solid #50BD15;
		height: 20px;
		display: block;
		margin: 5px auto;
		padding: 2px 5px;
		font-family: $heading_text;
	}
  }
  &.orca {
  	background-color: $ganon_gray_dark;
  	font-size: 18px;
	h1 {
	  color: #fff;
	}
	
	img {
	  width: 300px;
	}
  }
}


.triforce_p {
	display: inline-block;
	top: 4px;
	@include triforce(10);
}

.triforce_h {
	display: inline-block;
	top: 20px;
	@include triforce(40);
}

.triforce_ad {
	@include triforce(200);
}

.heart-list {
	li {
		padding-left: 30px;
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: "#";
			@extend .heart;
			position:absolute;
			left: 0;
			top: 3px;
			width: 20px;
			height: 10px;
		}
	}
}