@import 'globals';
@import 'triforce';

body {
	background: url("../images/orcas_room.jpg") no-repeat 0 0 black;
	background-size: 100%;
	color: white;
	font-family: $body_text;
}

h1 {
	font-family: $heading_text;
}

button {
	background: $triforce-yellow;
	padding: 5px;
	text-transform: uppercase;
	color: $red-ring;
	border-radius: 3px;
	cursor: pointer;
}

.body {
	margin: 0 auto;
}

.wrapper {
	padding: 20px;	
}

header {
	margin: 20px 0 40px;
	h1 {
		font-size: 48px;
		color: $triforce-yellow;
	}
	h2 {
		color: $red-ring;
	}
}

.body {
		text-align: center;
	h1 {
		font-size: 36px;
		margin-bottom: 20px;
		color: $triforce-shadow;
	}
	p {
		font-size: 24px;
		margin-bottom: 10px;
	}
}

.chat-window {
	text-align: left;
	width: 400px;
	height: 300px;
	background: black;
	color: white;
	margin: 0 auto;
	p {
		margin-bottom: 0;
	}
	.text {
		height: 250px;
		border: 1px solid $triforce-yellow;
		margin: 0;
		padding: 5px;
		overflow: scroll;
		height: 250px;
	}
	.input {
		border: 1px solid $triforce-shadow;
		padding: 5px;
		text-align: left;
		#chat_input {
			width: 304px;
			font-style: italic;
		}
		#chat_submit {
			background-color: $blue-ring;
			padding: 5px 15px;
			margin: 0;
			border: none;
			border-radius: 3px;
		}
	}
}

.you {
	padding-top: 10px;
	position: relative;
	&:after{
		content:"You";
		position: absolute;
		top:0;
		left: 0;
		color: $blue-ring;
		text-transform: uppercase;
		font-size: 12px;
	}
}
.them {
	text-align: right;
	padding-top: 15px;
	position: relative;
	color: $hyrule-earth;
	&:after{
		content:"Orca";
		position: absolute;
		top:0;
		right: 0;
		color: $red-ring;
		text-transform: uppercase;
		font-size: 12px;
	}
}

.typing {
	color: #ccc;
	font-style: italic;
	text-align: right;
	font-size: 14px!important;
}