@mixin triforce($width) {
  $tri_width_height : $width + px;
  $tri_left : (.5*$width) + px;
  $tri_margin : (.4*$width) + px;
  $tri_border_sides : (.3*$width) + px;
  $tri_border_bottom : (.52*$width) + px;
  $tri_before_left : (-.6*$width) + px;
  $shadow_top : (.14*$width) + px;
  $shadow_left : (-.36*$width) + px;
  
  &{
    width:$tri_width_height;
    height:$tri_width_height;
    position: relative;
    left: $tri_left;
    margin-bottom: $tri_margin;
  }
  .triangle-power {
    display: block;
    content:'';
    position:relative;
    width:0px;
    height:0px;
    border-left: $tri_border_sides solid transparent;
    border-right: $tri_border_sides solid transparent;
    border-bottom: $tri_border_bottom solid #FFBC00;
  }
  .triangle-wisdom {
    content: attr(data-wisdom) '';
    position:absolute;
    display:block;
    border-left:$tri_border_sides solid transparent;
    border-right:$tri_border_sides solid transparent;
    border-bottom:$tri_border_bottom solid #FFBC00;
    top:$tri_border_bottom;
    left:$tri_before_left;
  }
  .triangle-courage {
    content:attr(data-courage) '';
    position:absolute;
    display:block;
    border-left:$tri_border_sides solid transparent;
    border-right:$tri_border_sides solid transparent;
    border-bottom:$tri_border_bottom solid #FFBC00;
    top:$tri_border_bottom;
  }
  .shadow-power {
    display: block;
    content:'';
    width:0;
    height:0;
    position:relative;
    z-index:-1;
    border-left:$tri_border_sides solid transparent;
    border-right:$tri_border_sides solid transparent;
    border-top:$tri_border_bottom solid #FF8C00;
    transform:rotate(60deg);
    -webkit-transform:rotate(60deg);
    -moz-transform:rotate(60deg);
    -ms-transform:rotate(60deg);
    -o-transform:rotate(60deg);
    top:$shadow_top;
    left:$shadow_left;
  }
  .shadow-wisdom {
    content:'';
    border-left:$tri_border_sides solid transparent;
    border-right:$tri_border_sides solid transparent;
    border-top:$tri_border_bottom solid #FF8C00;
    position:absolute;
    display:block;
    top:0;
    left:0;
  }
  .shadow-courage {
    content:'';
    border-left:$tri_border_sides solid transparent;
    border-right:$tri_border_sides solid transparent;
    border-top:$tri_border_bottom solid #FF8C00;
    position:absolute;
    display:block;
    top:-$tri_border_bottom;
    left:$tri_border_sides;
  }
  .triangle{
    @extend .triangle-power;
  }
  .triangle:before{
    @extend .triangle-wisdom;
  }
  .triangle:after{
    @extend .triangle-courage;

  }
  .shadow{
    @extend .shadow-power;
  }
  .shadow:before{
    @extend .shadow-wisdom;
  }
  .shadow:after{
    @extend .shadow-courage;
  }
}